<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uyaba.cloud.microservices.auth.mapper.om.OauthRefreshTokenMapper">
  <resultMap id="BaseResultMap" type="com.uyaba.cloud.microservices.auth.model.om.OauthRefreshToken">
    <result column="token_id" jdbcType="VARCHAR" property="tokenId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.uyaba.cloud.microservices.auth.model.om.OauthRefreshToken">
    <result column="token" jdbcType="BINARY" property="token" />
    <result column="authentication" jdbcType="BINARY" property="authentication" />
  </resultMap>
  <sql id="Blob_Column_List">
    token, authentication
  </sql>
  <insert id="insert" parameterType="com.uyaba.cloud.microservices.auth.model.om.OauthRefreshToken">
    insert into om.oauth_refresh_token (token_id, token, authentication
      )
    values (#{tokenId,jdbcType=VARCHAR}, #{token,jdbcType=BINARY}, #{authentication,jdbcType=BINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uyaba.cloud.microservices.auth.model.om.OauthRefreshToken">
    insert into om.oauth_refresh_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tokenId != null">
        token_id,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="authentication != null">
        authentication,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tokenId != null">
        #{tokenId,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=BINARY},
      </if>
      <if test="authentication != null">
        #{authentication,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>